
.container {
  background-color: #282c34;
  color: white;
  width: 100%;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.select-container select {
  padding: 0.5rem 1rem;
  border: 1px solid #cccc;
  border-radius: 8px;
  background-color: #fff;
  font-size: 1rem ;
  font-weight: bold; 
  color: #333;

}

.select-container select:focus {
  outline: none;
  cursor: pointer;
}

.select-option {
  background-color: #fff;
  color: #333;
  padding: 0.5rem;
  font-size: 1rem;
}